ul {
	list-style: square inside none;
	margin: 10px;
}

p, li {
	margin-top: 10px;
}

#help {
	display: none;
	border: 5px solid #ddf;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	position: absolute;
	z-index: 2;
	background: white;
}

#ide {
	
}

#scriptdiv {
	position: absolute;
	top: 145px;
	left: 45px;
	width: 600px;
	bottom: 10px;
	z-index: 1;	
}

#script {
	background-color: black;
	color: white;
	font-family: monospace;
	font-size: 13px;
	padding: 10px;
	/*	
	margin: 20px;
	margin-right: -20px;
	*/
	height: 100%;
	width: 100%;
}

#submit {
	
}

#result {
	background-color: #ffffee;
	color: black;
	font-family: monospace;
	font-size: 13px;
	/*
	padding: 10px;
	margin: 20px;
	margin-right: -20px;
	*/
	border: 2px solid #eeeeff;
	border-radius: 10px;	
	overflow: auto;
	padding: 10px;
	
	position: absolute;
	top: 145px;
	left: 660px;
	right: 45px;
	bottom: 10px;
	z-index: 1;
}

#sample {
	font-family: courier;
	border: 2px solid #ddf;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}